/* contains everything, centered*/
#main{
	margin: 0 auto;
	position: relative;
	min-width: 800px;
	max-width: 80%;
	font-family: sans-serif;
}

/*description of project */
#header{
	position: relative;
	margin: 0 auto;
	min-width: 400px;
	max-width: 60%;
	color:gray;
	padding: 15px 30px 10px 30px;
	margin-bottom: 10px;
}

/* contains both #input & #image */
#content{
	position: relative;
	margin: 0 auto;
}

/* contains inputfield & button */
#input{
	padding-top:20px;
	padding-right: 0;
	float: left;
}

/* contains image svg & save button */
#output{
	padding-top: 20px;
	display: none;
	float: left;
}

#textfield{
	padding: 5px;
}

/* contains dictionary, exceptions & limit , left side */
#config{
	min-width: 200px;
	max-width: 300px;
	float: left;
	padding: 5px 20px 30px 20px;

}
#dictionary{

}

#exception{

}

#ignore{
	float:left;
}
#ignoreBtn{
	float: left;
}

#limit{

}

#footer{
    position: absolute;
    font-family: "ClearLine";
    font-size: 2.5em; 
    margin-top:70px;
    margin-left: 80px;
}

a{
    text-decoration: none;
    color: black;

}

@font-face {
  font-family: "ClearLine";
  src: url("ClearLine.ttf");
}

/* info arrow display on right side */
#info{
	float: left;
	max-width: 200px;
	padding: 10px 0px 20px 20px;
	margin-top:300px;
	font-family: monospace;
	font-size: 0.9em;
	color: gray;

}

p.description{
	text-align: justify;
	font-size: 0.9em;
	color: gray;
	margin: 0;
	margin-top: 10px;
}
p.title{
	text-align: left;
	float: left;
	font-size: 2.5em;
	color: black;
	margin: 0;
	margin-right: 15px;
}

/* The main button style */
/* This button was generated using CSSButtonGenerator.com */
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:112px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	margin-left: 78%;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.btn:active {
	position:relative;
	top:1px;
}

/* Fancy line from 
http://stackoverflow.com/questions/15215556/create-a-beautiful-horizontal-line-with-css-only */
hr.fancy-line { 
    border: 0; 
    height: 5px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
